/*  ---------------------------------------------------------------------------
    Media Query Breakpoints
    responsive behavior designed using mobile-first
    responsive image variants: 500px, 800px, 1080px, 1600px, 2440px
---------------------------------------------------------------------------  */
$breakpoints: (
  "xxs":  320px,
  "xs":   400px,
  "sm":   768px,
  "md":   980px,
  "lg":   1024px,
  "xl":   1300px,
  "xxl":  1440px,
);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
