#branding {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 142px;

  a {
    display: block;
    align-self: start;
  }

  h1 {
    align-self: end;
    color: var(--black);
    margin-left: -50px;
    text-shadow: 0 0 2px var(--orange), 0 0 16px var(--orange), -1px -1px 48px var(--orange), 1px 1px 48px var(--orange);

    span {
      display: block;
      font-size: 1.25rem;
    }
  }
}

