<main>
  <div class="wrapper" role="main"> <!-- main content wrapper -->
    <app-header class="header"></app-header>       <!-- header aka #branding section -->
    <app-nav class="sidebar"></app-nav>             <!-- sidebar, aka nav in parent element, aside  -->

    <!-- #main-content -->
    <div id="main-content" class="content">
      <app-about-section class="about"></app-about-section>         <!-- #about section -->
      <app-portfolio-section class="portfolio"></app-portfolio-section> <!-- #portfolio section -->
      <app-projects-section class="projects"></app-projects-section> <!-- #projects section -->
      <app-contact-section class="contact"></app-contact-section>     <!-- #contact section -->
      <app-resources-section class="resources"></app-resources-section> <!-- #resources section -->
      <app-terminal-section class="terminal"></app-terminal-section>   <!-- #terminal section -->
    </div>

    <app-footer class="footer"></app-footer> <!-- footer aka #site-info section -->
  </div>
</main>

<router-outlet></router-outlet>
