<main>
  <div class="wrapper" role="main">
    <app-header class="header"></app-header>
    <app-nav class="sidebar"></app-nav>

    <div id="main-content" class="content">
      <app-about-section class="about"></app-about-section>
      <app-portfolio-section class="portfolio"></app-portfolio-section>
      <app-projects-section class="projects"></app-projects-section>
      <app-contact-section class="contact"></app-contact-section>
      <app-resources-section class="resources"></app-resources-section>
      <app-terminal-section class="terminal"></app-terminal-section>
    </div>

    <app-footer class="footer"></app-footer>
  </div>
</main>

<router-outlet></router-outlet>
